* {
    background-color: white;
}

.register-button {
    background-color: #00c682;
    text-indent: 0;
    color: white;
    border-radius: 40px;
    border-color: transparent;
    padding: 8px 22px;
    width: 100%;
}

.register-button:hover {
    background-color: #00a46c;
    cursor: pointer;
}

label {
    color: black;
    font-weight: 700;
    font-size: 16;
}

input {
    color: black;
    border: solid #d1d5db 3px;
    border-radius: 8px;
    padding: 8px;
    text-indent: 26px;
}

input:focus {
    border: solid #9ba7b6 3px;
    outline: none; /*remove default outline browser border*/
}

.icon-in-input-field {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    fill: #d1d5db;
    left: 12px;
}
